<footer class="footer mt-auto py-3 bg-primary-subtle">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-unstyled text-white">
                    <li>
                        <address><i class="bi bi-envelope"></i><a href="mailto:{{ site.mail }}" class="text-decoration-none text-white">{{ site.mail }}</a></address>
                    </li>
                    <li>
                        <address><i class="bi bi-phone"></i><a href="tel:{{ site.telephone }}" class="text-decoration-none text-bg-danger">{{ site.phone }}</a></address>
                    </li>
                    <li>
                        <address><i class="bi bi-geo-alt"></i>{{ site.localtion_address }}</address>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="list-unstyled text-white">
                    <li><span><a href="{{ site.record_url }}" class="text-decoration-none link-secondary">{{ site.record_number }}</a></span></li>
                    <li><span><a href="{{ site.public_security_url }}" class="text-decoration-none link-secondary">{{ site.public_security_number }}</a></span></li>
                    <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-c-circle" viewBox="0 0 16 16">
                                <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM8.146 4.992c-1.212 0-1.927.92-1.927 2.502v1.06c0 1.571.703 2.462 1.927 2.462.979 0 1.641-.586 1.729-1.418h1.295v.093c-.1 1.448-1.354 2.467-3.03 2.467-2.091 0-3.269-1.336-3.269-3.603V7.482c0-2.261 1.201-3.638 3.27-3.638 1.681 0 2.935 1.054 3.029 2.572v.088H9.875c-.088-.879-.768-1.512-1.729-1.512Z" />
                            </svg><time id="copyright_year" class="px-1 text-white"></time><span><a href="{{ site.url }}" class="text-decoration-none link-secondary">{{ site.title }}</a></span></li>
                </ul>
            </div>
        </div>
        <!--         <div class="row">
            <div class="col-lg-4">
                <span><a href="{{ site.record_url }}" class="text-decoration-none link-secondary">{{ site.record_number }}</a></span>
            </div>
            <div class="col-lg-4">
                <span><a href="{{ site.public_security_url }}" class="text-decoration-none link-secondary">{{ site.public_security_number }}</a></span>
            </div>
            <div class="col-lg-4">
                <i class="bi bi-c-circle text-light"></i><time id="copyright_year" class="px-1 text-white"></time><span><a href="{{ site.url }}" class="text-decoration-none link-secondary">{{ site.title }}</a></span>
            </div>
        </div> -->
    </div>
    <script type="text/javascript">
    var d2 = document.getElementById('copyright_year');
    var year = new Date().getUTCFullYear();
    d2.setAttribute("datetime", year);
    d2.insertAdjacentHTML('beforeend', year);
    </script>
</footer>