<!DOCTYPE html>
<html lang="{{ site.lang | default: site.lang }}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <!--<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">-->
    <link crossorigin="anonymous" integrity="sha512-Z/def5z5u2aR89OuzYcxmDJ0Bnd5V1cKqBEbvLOiUNWdg9PQeXVvXLI90SE4QOHGlfLqUnDNVAYyZi8UwUTmWQ==" href="https://lib.baomitu.com/twitter-bootstrap/5.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link crossorigin="anonymous" integrity="sha512-ZnR2wlLbSbr8/c9AgLg3jQPAattCUImNsae6NHYnS9KrIwRdcY9DxFotXhNAKIKbAXlRnujIqUWoXXwqyFOeIQ==" href="https://lib.baomitu.com/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" rel="stylesheet">
    <script crossorigin="anonymous" integrity="sha512-fHY2UiQlipUq0dEabSM4s+phmn+bcxSYzXP4vAXItBvBHU7zAM/mkhCZjtBEIJexhOMzZbgFlPLuErlJF2b+0g==" src="https://lib.baomitu.com/twitter-bootstrap/5.3.1/js/bootstrap.min.js"></script>
    <script crossorigin="anonymous" integrity="sha512-q4Xn+ZU2K+dqJPL8a3TiyGsDa31IkR/rLt/w+fy8jLrx8TdXj0dLM1Aq4aPXnOOKxHEya/bD9DePDB2DHm4jJQ==" src="https://lib.baomitu.com/dayjs/1.11.9/dayjs.min.js"></script>
    <script crossorigin="anonymous" integrity="sha512-t+T+l2qHf4oOrpwGDg3S8lC8AdXeAwkjwaGtUYpbbmc6hs4zHIV9LCO2JXbeCk8THKuKz+0OLYYf8Mh6vg74Nw==" src="https://lib.baomitu.com/dayjs/1.11.9/locale/zh-cn.min.js"></script>
    {% seo %}
</head>

<body>
    <header class="container-fuild">
        <div class="row m-0">
            <time id="nowDate" class="py-1 text-secondary" datetime=""><i class="bi bi-calendar text-info-emphasis px-1"></i></time>
            <script>
            const nowDate = document.getElementById('nowDate');
            nowDate.setAttribute("datetime", dayjs().locale('zh-cn').format('YYYY-MM-DD HH:mm:ss dddd'));
            nowDate.insertAdjacentHTML('beforeend', dayjs().locale('zh-cn').format('YYYY-MM-DD dddd'));
            </script>
        </div>

        {% include header.html %}
    </header>
    <main class="container-fluid">
        {{ content }}
    </main>
    {% include footer.html %}
</body>

</html>
<script type="text/javascript">
document.addEventListener = function(e) {
    if (!e) {
        e = window.event;
    }

    if ((e.keyCode || e.which) == 13) {
        do_search();
    }
}


function do_baidu_search() {
    var search_txt = document.getElementById("search-bar-input").value;
    if (search_txt == "") {
        alert("请在搜索栏输入内容");
        return false;
    }
    var search_url = "https://www.baidu.com/s?wd=" + search_txt;
    window.open(search_url);
}

function do_google_search() {
    var search_txt = document.getElementById("search-bar-input").value;
    if (search_txt == "") {
        alert("请在搜索栏输入内容");
        return false;
    }
    var search_url = "https://www.google.com/search?newwindow=1&q=" + search_txt;
    window.open(search_url);
}

function do_bing_search() {
    var search_txt = document.getElementById("search-bar-input").value;
    if (search_txt == "") {
        alert("请在搜索栏输入内容");
        return false;
    }
    var search_url = "https://cn.bing.com/search?q=" + search_txt;
    window.open(search_url);
}

function do_github_search() {
    var search_txt = document.getElementById("search-bar-input").value;
    if (search_txt == "") {
        alert("请在搜索栏输入内容");
        return false;
    }
    var search_url = "https://github.com/search?q=" + search_txt;
    window.open(search_url);
}

function on_enter_key() {
    if (event.keyCode == 13) {
        var search_txt = document.getElementById("search-bar-input").value;
        if (search_txt == "") {
            alert("请在搜索栏输入内容");
            return false;
        }
        var search_url = "https://www.google.com/search?newwindow=1&q=" + search_txt;
        window.open(search_url);
    }
}
</script>
